$textColor: #fff;
$textColorLink: #fff;

@mixin btnStandard() {
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow:1px 1px 100px 0 rgba(0,0,0,0.26);
    text-transform: uppercase;
    transition: 0.2s;
}
.title{
    color: $textColor;
}

.btn{
    @include btnStandard();
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(113,54,251,1) 100%);
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    color: $textColorLink;
    width: 100%;

    &:before{
        content: '';
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        display: block;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50px;
        transition: 0.5s;
        z-index: -1;
    }

    &:hover{
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition-delay: 0.1s;
        color: #e91e63;
        z-index: 8;
    }

    &:hover:before{
        transform: scale(8.3);
    }
}